:root{
	font-size: 16px;
}
.container
{
	flex-direction: column;
}
.header1{
		
	border: outset 2px #78b5bc;
	text-align: center;
	text-transform: uppercase;
	box-shadow: 3px 3px inset;
	border-radius: 25px;
    background: url(http://cyberfision.com/wp-content/uploads/2016/07/low_poly_background-1441917316368.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    font-size: 2em;
    width: 100%;
    height: 60%;

}
@media screen and (min-width: 500px)
{
.mypic
{
	width:25%;
	float: right;
	border: solid 1px #78b5bc;
	margin-left: 2vw;

}
}

@media screen and (min-width: 320px) and (max-width: 500px)
{
.mypic
{
	width:70%;
	float: center;
	border: solid 1px #78b5bc;
	margin-left: 2vw;

}

}
@media screen and (max-width: 320px)
{
.mypic
{
	width:70%;
	float: center;
	border: solid 1px #78b5bc;
	margin-left: 2vw;

}
}
.section
{
	font-size: 1.3em;
	text-align: justify;

}


hr {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
.end{
  height: 10px;
  border: 0;
  box-shadow: 0 10px 10px -10px #8c8c8c inset;
}
body{

	background: url(https://wallpaper-house.com/data/out/6/wallpaper2you_109366.jpg);
	background-size: cover;
	padding:20px;
	margin:20px auto;
	color: #c7dfe2;
	font-family: 'Quicksand', sans-serif;
	font-size: 1em;
}
@media screen and (min-width: 500px)
{
.tech
{

	width:5%;
	float: right;
	border: solid 1px #78b5bc;
	margin-left: 2vw;

}
}

@media screen and (min-width: 320px) and (max-width: 500px)
{
.tech
{
	width:15%;
	float: center;
	border: solid 1px #78b5bc;
	margin-left: 2vw;

}
body
{
	font-size: 0.5em;
}

}
@media screen and (max-width: 320px)
{
.tech
{
	width:15%;
	float: center;
	border: solid 1px #78b5bc;
	margin-left: 2vw;

}
body
{
	font-size: 0.4em;
}
}
a:hover, a:active {
    background-color: #78b5bc;
  }

a:link, a:visited {
    background-color: #92a9ce;
    color: white;
    padding: 0.5vw;
    text-align: center; 
    text-decoration: none;
    display: inline-block;
}
